body {
  margin: 0;
  font-family: Helvetica;
  background-color: yellow;
}

img {
  height: 80px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
